body{
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    /*background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(71,79,69,1) 47%, rgba(0,0,0,1) 100%);*/
}
header{
    background: black;
    overflow: hidden;
}
.header{
    position: relative;
    overflow: hidden;
    animation: slide 2s ease-in-out;
}

.logo{
    background-color: black;
    display: block;
    text-align: center;
    margin: 10px; 
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    font-family: "BentonSans Comp Black";
    color:#f0131e;
    animation: animate 1s ease-in-out infinite
    alternate;
}
nav{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    word-spacing: 20px;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(50px);

}

nav a{
    letter-spacing: 1px;
    position: relative;
    color: rgb(255, 255, 255,.4);
    font-weight: bold;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:10px;
    padding-bottom: 5px;
    margin: 2px;
    z-index: 2;
    animation: down 2s ease-in-out;
}
nav::before{
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}
nav::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg,transparent,rgba(255,255,255,.4),transparent);
    transition: .5s;
}
nav:hover::after{
    left: 100%;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}
.header::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg,transparent,rgba(255,255,255,.4),transparent);
    transition: .5s;
}
.header:hover::after{
    left: 100%;
}
nav a:hover{
    text-shadow: 0 0 50px #dd9821;
    color:  #f0131e;
}
@keyframes animate{
    from{
        text-shadow: 0 0 20px #dd9821;
    }
    to{
        text-shadow: 0 0 30px #dd9821,
                    0 0 10px #dd9821;
    }
}
@keyframes right{
    from{
        opacity: 0;
        transform: translateX(40px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes left{
    from{
        opacity: 0;
        transform: translateX(-40px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes down{
    from{
        opacity: 0;
        transform: translateY(40px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes up{
    from{
        opacity: 0;
        transform: translateY(-40px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slide{
    from{
        opacity: 0;
        
    }
    to{
        opacity: 1;
        
    }
}




/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*/




.banner{
    background-color: black;
    z-index: -2;
    margin: 0;
    padding: 0;
    position: relative;
    height: 300px;
    margin: 0;
    overflow: hidden;
}
.movie-img{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    height: 300px;
    width: 1538px;
    overflow: hidden;
    color: white;
}
.banner .img-header{
    margin: 0;
    padding: 0;
    left: 40%;
    z-index: -1;
    height: 200px;
    width: 300px;
    background-position-x: right;
    position: absolute;
    display: inline-block;
    animation: slide 4s ease-in;
}
.movie-img h1{
    position: absolute;
    display: inline-block;
    z-index: 1;
    left: 39%;
    color: white;
    top: 100px;
    font: 900 40px / 1 RobotoCondensed Bold, Trebuchet MS, Helvetica, Arial, sans-serif;
    line-height: 1;
    font-weight: 900;
    font-style:bold;
    letter-spacing: 3px;
}

.movie-img h4{
    font: 400 16px / 1.3 Roboto, Trebuchet MS, Helvetica, Arial, sans-serif;
    letter-spacing: .5px;
    position: absolute;
    display: inline-block;
    left: 20%;
    word-spacing: 5px;
    top: 170px;
}



/*----------------------------------------------------------------------------------------------------------------------------------------------*/


.overview{
    display: block;
    position: relative; 
    margin-left: 100px;
    margin-top: -90px;
    height: 600px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    z-index: -2;
}
.title{
    margin-left: 10px;
    position: absolute;
    font-family: "Bona Nova SC", serif;
    font-weight: 600;
    font-style: bold;
    animation: left 2s ease-in-out;
}
.title:before{
    left: 53px;
    top: -8px;
    transform-origin: left bottom;
}
.title:after{
    left: -6px;
    top: calc(100% + 3px);
    transform-origin: right top;
}
.title:before,.title:after{
    background-color: #f0131e;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    transform: rotate(-45deg) skewX(45deg);
    width: 20px;
}
.title-div{
    
    position: relative;
    top: 0;
    left: 35px;
    width: 800px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: block;
    
}
.title-div2{
    
    position: relative;
    top: 0;
    left: 0px;
    width: 800px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: block;
    
}
.para-container{
    left: 35px;
    display: block;
    position: relative;
    margin-top: 0px;
    width: 800px;
    background-color: rgb(255, 255, 255);
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-size:large;
    word-spacing: 3px;
}
.content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    margin-top: 50px;
    width: 800px;
    background-color: rgb(255, 255, 255);
    z-index: -2;
}

.block{
    z-index: 0;
    text-transform: uppercase;
    margin: 10px;
    width: 200px;
    height: 200px;
    padding:10px ;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.content-container h5{
    z-index: 1;
    font-family: "Bona Nova SC", serif;
  font-weight: 700;
  font-style: small;
    color: rgba(0, 0, 0, 0.5);
}
.content-container p{
    z-index: 1;
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    word-spacing: 5px;
    letter-spacing: 1px;
}
.trailer-poster{
    top: -50px;
    display: inline-block;
    margin-top: -92px;
}
.poster-img{
    display: inline-block;
    align-content: end;
    position: absolute;
    top: 0;
    margin-top: 150px;
    margin-left: 65%;
    width: 300px;
    height: 500px;
    box-shadow: 0px 0px 5px black;
}
.trailer-size{
    margin-top: 50px;
    width: 100%;
    height: 750px;
}
.trailer{
    margin-top: 200px;
    display: block;
    position: relative; 
    margin-left: 100px;
    height: 600px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    
}
.spotify{
    margin-top: 300px;
    display: block;
    position: relative; 
    margin-left: 100px;
    height: 100%;
    width: 90%;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    
}
.music{
    width: 600px;
    margin-top: 30px;
    height: 600px;
}